In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #plotting
from matplotlib import colors 

#for easy autocomplete
%config IPCompleter.greedy=True

In [4]:
df_load = []
for x in range(2002,2017):
    df_load.append(pd.read_csv("births/regions_pl_uro_{}_00_2p.csv".format(x),index_col=0, usecols=list(range(1,14))))

df = pd.concat(df_load, keys = list(range(2002, 2018)))

#create multiindex
index_years = df.index.levels[0]
index_regions = df.index.levels[1].str.strip()
df.index = pd.MultiIndex.from_product([index_years, index_regions], names=['year', 'region'])

# using index as columns - easier for Bokeh to process
df.reset_index(level=[0,1], inplace=True)
df.T

,0,1,2,3,4,5,6,7,8,9,...,230,231,232,233,234,235,236,237,238,239
year,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
region,DOLNOŚLĄSKIE,KUJAWSKO-POMORSKIE,LUBELSKIE,LUBUSKIE,ŁÓDZKIE,MAŁOPOLSKIE,MAZOWIECKIE,OPOLSKIE,PODKARPACKIE,PODLASKIE,...,MAZOWIECKIE,OPOLSKIE,PODKARPACKIE,PODLASKIE,POMORSKIE,ŚLĄSKIE,ŚWIĘTOKRZYSKIE,WARMIŃSKO-MAZURSKIE,WIELKOPOLSKIE,ZACHODNIOPOMORSKIE
total,24588,20238,20908,9486,22258,32451,46627,8506,21414,11318,...,59586,8634,20262,11373,25865,42742,10610,13443,38237,15688
1,12684,10074,9548,4730,11419,14710,23028,3938,9488,5032,...,27917,4041,8803,4931,11592,19926,4930,5991,17799,7184
2,7543,6132,6437,2926,7113,10254,14821,2704,6592,3526,...,23041,3310,7781,4456,9711,16571,4253,5129,14804,6041
3,2620,2253,2691,1016,2325,4194,5201,1043,2856,1528,...,6419,923,2705,1408,3187,4480,1054,1516,4082,1675
4,904,887,1134,427,787,1723,1979,459,1239,646,...,1449,218,645,372,865,1112,250,482,998,474
5,418,453,512,193,316,773,848,178,616,290,...,476,75,213,119,290,381,82,169,340,162
6,198,196,275,85,160,360,362,70,297,141,...,163,45,72,40,106,155,21,81,119,76
7,113,108,148,43,59,189,186,50,151,64,...,72,11,25,22,62,66,10,41,50,38
8,48,65,81,37,34,121,90,29,82,35,...,26,4,11,16,27,22,5,18,28,17
9,26,28,42,14,16,52,67,13,40,26,...,15,2,3,2,7,15,2,10,8,10
10 i dalsze,34,40,37,15,25,72,44,22,53,29,...,8,2,4,7,16,13,3,6,7,9
nieustalona,-,2,3,-,4,3,1,-,-,1,...,-,3,-,-,2,1,-,-,2,2

In [6]:
from bokeh.plotting import figure, gmap, ColumnDataSource
from bokeh.io import show, output_notebook, push_notebook
from bokeh.models import HoverTool, GMapOptions

#setting Bokeh output to notebook
output_notebook()

In [9]:
regions_lon_lat = pd.read_csv("births/regions_lon_lat.csv", index_col=0)

#unifying indexes - change to uper case
regions_lon_lat.index = regions_lon_lat.index.str.upper()

#merge dataframes
df_lon_lat = pd.merge(df[df['year'] > 2010], regions_lon_lat, left_on='region', right_index=True)

#ColumnDataSource object can be asily used as a data input for Bokeh
source = ColumnDataSource(data=df_lon_lat)

In [10]:
#Tools on the map
hover = HoverTool(tooltips=[
    ("region", "@region"),
    ("year", "@year"),
    ("total", "@total"),
])

In [25]:
map_options = GMapOptions(lat=52.0, lng=19, map_type="roadmap", zoom=6)



p1 = gmap("AIzaSyA0PcVtINidiFAUAdso-aK2mZ4KA_3KMRs", map_options, title="Births in Poland", width=900, tools=[hover, 'pan', 'wheel_zoom', 'tap', 'box_zoom'])

#add points with total births located in region's capitals to the plot
circles = p1.circle(x="lon", y="lat", name="cities", size=13, fill_color="green", fill_alpha=0.8, source=source,)
show(p1)

In [26]:
# colors for plots
TABLEAU_COLORS = (
    ('blue', '#1f77b4'),
    ('orange', '#ff7f0e'),
    ('green', '#2ca02c'),
    ('red', '#d62728'),
    ('purple', '#9467bd'),
    ('brown', '#8c564b'),
    ('pink', '#e377c2'),
    ('gray', '#7f7f7f'),
    ('olive', '#bcbd22'),
    ('cyan', '#17becf'),
)
l_TC = len(TABLEAU_COLORS)

# Helper function - creates dataset in ColumnDataSource format
# for a given list of regions (region_list)
# that is easy for Bokeh to process 
# adn will be used for plot updates
def make_dataset(region_list):

    by_region = pd.DataFrame(columns=['total', 'year',
                                       'name','color'])
    l = len(region_list)
    # Iterate through all the regions
    for i, region_name in enumerate(region_list):
        
        # Subset to the region
        subset = df[df['region'] == region_name]

        # create df
        arr_df = pd.DataFrame({'total': subset['total'], 
                               'year': subset['year']})
        
        # Assign the region for labels
        arr_df['name'] = region_name

        # Color each region differently
        arr_df['color'] = TABLEAU_COLORS[i%l_TC][0]

        # Add to the overall dataframe
        by_region = by_region.append(arr_df)

    # Overall dataframe
    by_region = by_region.sort_values(['name', 'year'])
    
    # Convert dataframe to column data source
    return ColumnDataSource(by_region)
# Helper function
# create a plot from the DataColumSource src
def make_plot(src):
    # Blank plot with correct labels
    p = figure(plot_width = 700, plot_height = 700, 
                  title = 'Statistics',
                  x_axis_label = 'Year', y_axis_label = 'Births total')
    
    # circle plot for each distinct name in data src
    p.circle(source = src, x='year', y='total',legend = 'name', color='color')

    # Hover tool with vline mode
    hover = HoverTool(tooltips=[('Region', '@name'), 
                                ('total', '@total'),
                                    ('year', '@year')],
                          mode='vline')

    p.add_tools(hover)
    
    return p

In [37]:
from bokeh.layouts import widgetbox, row
from bokeh.models.widgets import CheckboxGroup, Tabs
from bokeh.models import Panel

output_notebook()
def modify_doc(doc):
    # create a CheckboxGroup widget
    unique_regions = list(df_lon_lat['region'].unique())
    checkbox_regions = CheckboxGroup(labels=unique_regions, active=[0,1,2,3])

    source = make_dataset(['POMORSKIE', 'LUBUSKIE','KUJAWSKO-POMORSKIE','MAZOWIECKIE'])
    p = make_plot(source)
    # Update function takes three default parameters
    def update(attr, old, new):
        # Get the list of carriers for the graph
        regions_to_plot = [checkbox_regions.labels[i] for i in 
                        checkbox_regions.active]

        # Make a new dataset based on the selected regions and the 
        # make_dataset function defined earlier
        new_src = make_dataset(regions_to_plot)
        p = make_plot(source)
        # Update the source 
        #source.data.update(new_src.data)

    checkbox_regions.on_change("active", update)
    controls = widgetbox(checkbox_regions)

    # Create a row layout
    doc.add_root(row(p,controls))

In [28]:
show(modify_doc)

In [35]:
    unique_regions = list(df_lon_lat['region'].unique())
    checkbox_regions = CheckboxGroup(labels=unique_regions, active=[0,1,2,3])

    source = make_dataset(['POMORSKIE', 'LUBUSKIE','KUJAWSKO-POMORSKIE','MAZOWIECKIE'])
    p = make_plot(source)
    # Update function takes three default parameters
    def update(attr, old, new):
        # Get the list of carriers for the graph
        regions_to_plot = [checkbox_regions.labels[i] for i in 
                        checkbox_regions.active]

        # Make a new dataset based on the selected regions and the 
        # make_dataset function defined earlier
        new_src = make_dataset(regions_to_plot)
        p = make_plot(source)
        # Update the source 
        #source.data.update(new_src.data)

    checkbox_regions.on_change("active", update)
    controls = widgetbox(checkbox_regions)

    # Create a row layout
    show(row(p,controls))

WARNING:bokeh.embed.util:
You are generating standalone HTML/JS output, but trying to use real Python
callbacks (i.e. with on_change or on_event). This combination cannot work.

Only JavaScript callbacks may be used with standalone output. For more
information on JavaScript callbacks with Bokeh, see:

    http://bokeh.pydata.org/en/latest/docs/user_guide/interaction/callbacks.html

Alternatively, to use real Python callbacks, a Bokeh server application may
be used. For more information on building and running Bokeh applications, see:

    http://bokeh.pydata.org/en/latest/docs/user_guide/server.html