In [1]:
file = open('news.txt','r')

In [2]:
file.read()

'Why Infrastructure Is So Expensive \nA subway-style diagram of the major Roman roads\nBaby Bird from Time of Dinosaurs Found Fossilized\nMIT Gets $140M Pledge from Anonymous Donor (wsj.com)\nHow hackers abused satellites to stay under the radar (2015)\nFiduciary Rule Fight Brews While Bad Financial Advisers\nIn 1957, Five Men Agreed to Stand Under an Exploding Nuclear Bomb'

In [4]:
file.close()

In [5]:
file.closed

True

# With Context Manager
No need to explicitly close the file

In [6]:
with open('news.txt', 'r') as file1:
    print(file1.readline())
    print(file1.readline())

Why Infrastructure Is So Expensive

A subway-style diagram of the major Roman roads

# Read .csv File
    Comma separated value
    row = record, column = feature

In [7]:
import numpy as np
import pandas as pd

In [8]:
mnist_data = np.loadtxt('mnist.csv', dtype=float, comments='#', delimiter=',')

In [9]:

mnist_data

array([[5., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [10]:
titanic_data = np.genfromtxt('titanic.csv', delimiter=',', dtype=None, skip_header=1)
#generic function to read the file`

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  """Entry point for launching an IPython kernel.

In [13]:
titanic_data

array([( 1, '1st', 'Male', 'Child', 'No', '0'),
       ( 2, '2nd', 'Male', 'Child', 'No', '0'),
       ( 3, '3rd', 'Male', 'Child', 'No', '35'),
       ( 4, 'Crew', 'Male', 'Child', 'No', '0'),
       ( 5, '1st', 'Female', 'Child', 'No', '0'),
       ( 6, '2nd', 'Female', 'Child', 'No', '0␊'),
       ( 7, '3rd', 'Female', 'Child', 'No', '17'),
       ( 8, 'Crew', 'Female', 'Child', 'No', '0'),
       ( 9, '1st', 'Male', 'Adult', 'No', '118'),
       (10, '2nd', 'Male', 'Adult', 'No', '154'),
       (11, '3rd', 'Male', 'Adult', 'No', '387'),
       (12, 'Crew', 'Male', 'Adult', 'No', '670'),
       (13, '1st', 'Female', 'Adult', 'No', '4'),
       (14, '2nd', 'Female', 'Adult', 'No', '13'),
       (15, '3rd', 'Female', 'Adult', 'No', '89'),
       (16, 'Crew', 'Female', 'Adult', 'No', '3'),
       (17, '1st', 'Male', 'Child', 'Yes', '5'),
       (18, '2nd', 'Male', 'Child', 'Yes', '11'),
       (19, '3rd', 'Male', 'Child', 'Yes', '13'),
       (20, 'Crew', 'Male', 'Child', 'Yes', '0'),
       (21, '1st', 'Female', 'Child', 'Yes', '1'),
       (22, '2nd', 'Female', 'Child', 'Yes', '13'),
       (23, '3rd', 'Female', 'Child', 'Yes', '14'),
       (24, 'Crew', 'Female', 'Child', 'Yes', '0'),
       (25, '1st', 'Male', 'Adult', 'Yes', '57'),
       (26, '2nd', 'Male', 'Adult', 'Yes', '14'),
       (27, '3rd', 'Male', 'Adult', 'Yes', '75'),
       (28, 'Crew', 'Male', 'Adult', 'Yes', '192'),
       (29, '1st', 'Female', 'Adult', 'Yes', '140'),
       (30, '2nd', 'Female', 'Adult', 'Yes', '80')],
      dtype=[('f0', '<i8'), ('f1', '<U4'), ('f2', '<U6'), ('f3', '<U5'), ('f4', '<U3'), ('f5', '<U3')])

In [14]:
titanic = pd.read_csv('titanic.csv', sep=',')
titanic.head(10)

   No Class     Sex    Age Survived Freq
0   1   1st    Male  Child       No    0
1   2   2nd    Male  Child       No    0
2   3   3rd    Male  Child       No   35
3   4  Crew    Male  Child       No    0
4   5   1st  Female  Child       No    0
5   6   2nd  Female  Child       No   0␊
6   7   3rd  Female  Child       No   17
7   8  Crew  Female  Child       No    0
8   9   1st    Male  Adult       No  118
9  10   2nd    Male  Adult       No  154

In [15]:
titanic['Sex'].value_counts()

Male      16
Female    14
Name: Sex, dtype: int64

# Sql Database File Read

In [17]:

import sqlite3

In [18]:
conn = sqlite3.connect('SqliteTestDb.db')

In [19]:
cur = conn.cursor()

In [20]:
cur.execute('select * from employees')

In [21]:
rows = cur.fetchall()

In [22]:
for row in rows:
    print(row)

(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com')
(2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com')
(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')
(4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com')
(5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')
(6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com')
(7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com')
(8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')

In [23]:
df = pd.read_sql_query('select * from employees', conn)
#returns DataFrame object

In [24]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

# Fetch Remote File

In [25]:
html_url = 'http://www.google.com'
csv_url = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/Titanic.csv'
json_url = 'https://raw.githubusercontent.com/ankit25587/test/master/test.json'

## Html

In [26]:
import requests

In [27]:
res = requests.get(html_url)

In [28]:
htmldata = res.text

In [29]:
htmldata

'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="pl"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="30Xfkxk6oiUs6iguAF2bLA==">(function(){window.google={kEI:\'bJztW7HyA9D6qwGx2q_AAQ\',kEXPI:\'0,1352960,787,57,1653,304,584,433,281,838,287,697,528,591,139,142,184,293,878,302,30,524,27,274,402,104,243,60,50,279,2336397,161,32,68,329226,1294,12383,4855,32691,15248,867,6692,5471,5281,11240,369,1212,2102,1263,4242,1111,130,1201,260,5109,573,835,284,2,1306,2432,253,1108,1712,27,2584,2096,1296,6,1570,221,552,2115,140,4746,518,626,2,1966,527,3,931,656,477,182,283,585,2253,898,69,1050,334,133,1341,386,8,1003,81,7,28,446,17,620,29,1017,836,62,3142,978,3712,244,313,876,412,2,557,76,2237,318,273,108,596,638,101,1119,38,363,557,439,134,145,155,498,176,543,832,125,405,105,381,47,1080,901,387,417,5,659,367,91,416,552,414,102,88,125,966,58,255,2,63,1,296,122,143,203,15,36,662,221,1125,17,248,30,5,2,484,236,172,71,9,2,118,109,78,2,495,142,60,521,41,16,86,245,84,128,61,96,249,247,109,57,367,256,26,42,819,254,5979614,2554,139,5997462,90,2800095,4,1572,549,332,445,1,2,80,1,900,578,14,304,1,8,1,2,2132,1,1,1,1,1,414,1,445,618,292,21,142,6,12,21,2,6,1,10,1,1,1,2,11\',authuser:0,kscs:\'c9c918f0_bJztW7HyA9D6qwGx2q_AAQ\',kGL:\'PL\'};google.kHL=\'pl\';})();google.time=function(){return(new Date).getTime()};(function(){google.lc=[];google.li=0;google.getEI=function(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||google.kEI};google.getLEI=function(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b};google.https=function(){return"https:"==window.location.protocol};google.ml=function(){return null};google.log=function(a,b,e,c,g){if(a=google.logUrl(a,b,e,c,g)){b=new Image;var d=google.lc,f=google.li;d[f]=b;b.onerror=b.onload=b.onabort=function(){delete d[f]};google.vel&&google.vel.lu&&google.vel.lu(a);b.src=a;google.li=f+1}};google.logUrl=function(a,b,e,c,g){var d="",f=google.ls||"";e||-1!=b.search("&ei=")||(d="&ei="+google.getEI(c),-1==b.search("&lei=")&&(c=google.getLEI(c))&&(d+="&lei="+c));c="";!e&&google.cshid&&-1==b.search("&cshid=")&&"slh"!=a&&(c="&cshid="+google.cshid);a=e||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+d+f+"&zx="+google.time()+c;/^http:/i.test(a)&&google.https()&&(google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a};}).call(this);(function(){google.y={};google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};}).call(this);google.f={};</script><script nonce="30Xfkxk6oiUs6iguAF2bLA==">var a=window.location,b=a.href.indexOf("#");if(0<=b){var c=a.href.substring(b+1);/(^|&)q=/.test(c)&&-1==c.indexOf("#")&&a.replace("/search?"+c.replace(/(^|&)fp=[^&]*/g,"")+"&cad=h")};</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#36c}.q{color:#00c}.ts td{padding:0}.ts{border-collapse:collapse}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}a.gb1,a.gb2,a.gb3,a.gb4{color:#11c !important}body{background:#fff;color:black}a{color:#11c;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#36c}a:visited{color:#551a8b}a.gb1,a.gb4{text-decoration:underline}a.gb3:hover{text-decoration:none}#ghead a.gb2:hover{color:#fff !important}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#eee;border:solid 1px;border-color:#ccc #999 #999 #ccc;height:30px}.lsbb{display:block}.ftl,#fll a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#ccc}.lst:focus{outline:none}.tiah{width:458px}</style><script nonce="30Xfkxk6oiUs6iguAF2bLA=="></script></head><body bgcolor="#fff"><script nonce="30Xfkxk6oiUs6iguAF2bLA==">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"> <div id=gbar><nobr><b class=gb1>Wyszukiwarka</b> <a class=gb1 href="http://www.google.pl/imghp?hl=pl&tab=wi">Grafika</a> <a class=gb1 href="http://maps.google.pl/maps?hl=pl&tab=wl">Mapy</a> <a class=gb1 href="https://play.google.com/?hl=pl&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=PL&tab=w1">YouTube</a> <a class=gb1 href="http://news.google.pl/nwshp?hl=pl&tab=wn">Wiadomo&#347;ci</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Dysk</a> <a class=gb1 style="text-decoration:none" href="https://www.google.pl/intl/pl/options/"><u>Wi&#281;cej</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.pl/history/optout?hl=pl" class=gb4>Historia online</a> | <a  href="/preferences?hl=pl" class=gb4>Ustawienia</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=pl&passive=true&continue=http://www.google.com/" class=gb4>Zaloguj si&#281;</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div> </div><center><br clear="all" id="lgpd"><div id="lga"><img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo" onload="window.lol&&lol()"><br><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="pl" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><div style="position:relative;zoom:1"><input style="color:#000;margin:0;padding:5px 8px 0 6px;vertical-align:top;padding-right:38px" autocomplete="off" class="lst tiah" value="" title="Szukaj w Google" maxlength="2048" name="q" size="57"><img src="/textinputassistant/tia.png" style="position:absolute;cursor:pointer;right:5px;top:4px;z-index:300" onclick="(function(){var src=\'/textinputassistant/11/pl_tia.js\';var s=document.createElement(\'script\');s.src=src;(document.getElementById(\'xjsc\')||document.body).appendChild(s);})();" alt="" height="23" width="27"></div></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Szukaj w Google" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" value="Szcz&#281;&#347;liwy traf" name="btnI" onclick="if(this.form.q.value)this.checked=1; else top.location=\'/doodles/\'" type="submit"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=pl&amp;authuser=0">Szukanie zaawansowane</a><a href="/language_tools?hl=pl&amp;authuser=0">Narz&#281;dzia j&#281;zykowe</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="30Xfkxk6oiUs6iguAF2bLA==">(function(){var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="fll"><a href="/intl/pl/ads/">Reklamuj si&#281; w Google</a><a href="http://www.google.pl/intl/pl/services/">Rozwi&#261;zania dla firm</a><a href="https://plus.google.com/102407376649446415369" rel="publisher">+Google</a><a href="/intl/pl/about.html">Wszystko o Google</a><a href="http://www.google.com/setprefdomain?prefdom=PL&amp;prev=http://www.google.pl/&amp;sig=K_ykeRT3ZTskTXt5vPa9VozvVPkYY%3D">Google.pl</a></div></div><p style="color:#767676;font-size:8pt">&copy; 2018 - <a href="/intl/pl/policies/privacy/">Prywatno&#347;&#263;</a> - <a href="/intl/pl/policies/terms/">Warunki</a></p></span></center><script nonce="30Xfkxk6oiUs6iguAF2bLA==">(function(){window.google.cdo={height:0,width:0};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script><div id="xjsd"></div><div id="xjsi"><script nonce="30Xfkxk6oiUs6iguAF2bLA==">(function(){function c(b){window.setTimeout(function(){var a=document.createElement("script");a.src=b;google.timers&&google.timers.load.t&&google.tick&&google.tick("load",{gen204:"xjsls",clearcut:31});document.getElementById("xjsd").appendChild(a)},0)}google.dljp=function(b,a){google.xjsu=b;c(a)};google.dlj=c;}).call(this);if(!google.xjs){window._=window._||{};window._DumpException=window._._DumpException=function(e){throw e};window._F_installCss=window._._F_installCss=function(c){};google.dljp(\'/xjs/_/js/k\\x3dxjs.hp.en.QJFYZPDDcnE.O/m\\x3dsb_he,d/am\\x3dYsBM/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHXV4GOfrNxC-qPeBNMqC-DmC1OMg\',\'/xjs/_/js/k\\x3dxjs.hp.en.QJFYZPDDcnE.O/m\\x3dsb_he,d/am\\x3dYsBM/rt\\x3dj/d\\x3d1/rs\\x3dACT90oHXV4GOfrNxC-qPeBNMqC-DmC1OMg\');google.xjs=1;}google.pmc={"sb_he":{"agen":true,"cgen":true,"client":"heirloom-hp","dh":true,"dhqt":true,"ds":"","ffql":"en","fl":true,"host":"google.com","isbh":28,"jsonp":true,"msgs":{"cibl":"Wyczy&#347;&#263; wyszukiwanie","dym":"Czy chodzi&#322;o Ci o:","lcky":"Szcz&#281;&#347;liwy traf","lml":"Wi&#281;cej informacji","oskt":"Narz&#281;dzia do wprowadzania tekstu","psrc":"To wyszukiwanie zosta&#322;o usuni&#281;te z Twojej \\u003Ca href=\\"/history\\"\\u003EHistorii online\\u003C/a\\u003E","psrl":"Usu&#324;","sbit":"Wyszukiwanie obrazem","srch":"Szukaj w Google"},"ovr":{},"pq":"","refpd":true,"rfs":[],"sbpl":24,"sbpr":24,"scd":10,"sce":5,"stok":"6cLBdxEsZ7KAPWlYm1gibFIWQWw","uhde":false},"d":{},"ZI/YVQ":{},"Qnk92g":{},"U5B21g":{},"YFCs/g":{}};google.x(null,function(){});(function(){var r=[];google.plm(r);})();(function(){var m=[]\n;m.length && google.jsc && google.jsc.m(m);})();</script></div></body></html>'

In [37]:
from bs4 import BeautifulSoup

In [38]:
soup = BeautifulSoup(htmldata, 'html.parser')

In [39]:
soup.find('title')

In [40]:
soup.find('title').string

'Google'